<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<input type="button" onclick="weapon()" value="대포가기">
<script>
    function weapon(){
        location.href = '/weapon';
    };
$(function(){
    alert('최초값 100에서 '+Calc.add(100)+'50을 빼고,'+Calc.sub(50)
            +'2를 곱한 후'+Calc.mul(2)+'10으로 나누면 '+Calc.div(10)+'이다')
});
    var Calc = (function(){
        var curr = 0;
        var add = function(val){
            curr += val;
            return curr;
        };
        var sub = function(val){
            curr -= val;
            return curr;
        };
        var mul = function(val){
            curr *= val;
            return curr;
        };
        var div = function(val){
            curr /= val;
            return curr;
        };
        return {
            add : add,
            sub : sub,
            mul : mul,
            div : div
        };
    })();
</script>
</body>
</html>